.message {
    color:#FFFFFF;
    padding: 5 5;
    margin: 2 auto;
    width: 50%;
}

.invalid {
  background-color:#AF0000;
}

.valid {
  background-color:#228B22;
}

div#buttons{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    margin-top:10px;
}

div.button{
    background-color:#004BA8;
    color:#FFF;
    width:150px;
    text-align:center;
    padding: 20px 5px;    
    display: block;
}

div.button:hover{
    cursor: pointer;
}

#content {
    min-width:810px;
/*    min-height: 750px;*/
    padding:5px;
/*  border-style:solid;
    border-width: 5px;
    border-color: #24272B;*/
    position:relative
}

div#menubar {
    min-width: 500px;
    padding-bottom: 10px;
}

div#mainBox{
    background-color:#4A525A;
    color: #FFF;
    min-width: 600px;
    width: 100%;
    min-height: 500px;
    float: left;
}

#createEvent label{
    display:inline-block;
    width: 150px;
    text-align:right;
    padding: 5px;
}

#createEvent .input{
    width: 150px;
}

div#loginContent{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div#footer{
    min-width:810px;
}


p {
    font-size:14px;
}

#menuText {
    font-size:18px;
}

#footer-text {
    padding-top:5px;
    text-align:center;
    font-size:12px;
}

ul#horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#07070A;
}

ul#horizontal-menu li{
    float: left;
}

ul#horizontal-menu li a#logo{
    font-family:'Gugi', cursive;
    color: #50A2A7;
    padding: 14px 16px;
    font-size: 150%;
}

ul#horizontal-menu li.login{
    float: right;
}

ul#horizontal-menu li.signup{
    float:right;
}


ul#horizontal-menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

ul#horizontal-menu li.login a{
    background-color:#50A2A7;
}

li a:hover{
    background-color: #4A525A;
}

#currentPage{
    background-color: #004BA8;
}

body{
    font-family:'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 810px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

table, th, td {
   border: 1px solid black;
}

