.message {
  color:#FFFFFF;
  padding: 5 5;
  margin: 2 0;
  width: 50%;
}

.invalid {
  background-color:#AF0000;
}

.valid {
  background-color:#228B22;
}

#content {
    min-width:810px;
    min-height: 750px;
    padding:5px;
    border-style:solid;
    border-width: 5px;
    border-color: gray;
    position:relative
}


#logo {
    float: right;
    height: 20px;
    width: 100px;
    padding-right: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

div#header {
    height:100px;
    min-width:800px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;    
}

div#menubar {
    min-width: 500px;
    padding-bottom: 10px;
}

div#mainBox{
    min-width: 600px;
    width: 70%;
    min-height: 500px;
    border-style: dashed;
    border-width: 2px;
    border-color: black; 
    float: left;
}

div#sidebar{
    min-width: 200px;
    width: 30%;
    min-height: 500px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    float: right;
}

div#footer{
    min-width:810px;
    
    
}

p {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
}

#menuText {
    font-size:18px;
}

#footer-text {
    padding-top:5px;
    text-align:center;
    font-size:12px;
}

ul#horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#horizontal-menu li{
    float: left;
}

ul#horizontal-menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

